.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(86, 221, 176);
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}
img {
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
}

.card:hover img{
  transform: scale(1.1);
  opacity: 0.8;
}